h3 {
    color: white;
}

.card {
    width: 700px ;
    height: 50vh;
    max-width: 85vh;
    padding: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.tinderCard_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.swipeCard {
    position: absolute;
}